// Specific CSS for your home-page

body {
  background: white;
}

// PICTURES

.pictures {
  display: flex;
  height: 50vh;
  width: 90vw;
}

.pic1 {
  background-image: url("https://images.pexels.com/photos/1624487/pexels-photo-1624487.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  height: 50vh;
  width: 30vw;
  margin: 1vh 0.5vw;
}

.pic2 {
  background-image: url("https://images.unsplash.com/photo-1505253758473-96b7015fcd40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=645&q=80");
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 30vw;
  margin: 1vh 0.5vw;
}

.pic5 {
  background-image: url("https://images.unsplash.com/photo-1534939561126-855b8675edd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-size: cover;
  height: 50vh;
  width: 30vw;
  margin: 1vh 0.5vw;
}

.double-pics {
  margin: 1vh 0.5vw;
}

.pic3 {
  background-image: url("https://images.unsplash.com/photo-1574653853027-5382a3d23a15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
  background-position: center;
  background-size: cover;
  height: 24.5vh;
  width: 15vw;
  margin-bottom: 1vh;
}

.pic4 {
  background-image: url("https://images.pexels.com/photos/1117862/pexels-photo-1117862.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size: cover;
  height: 24.5vh;
  width: 15vw;
}


// PICTURES CONTENT

.title-class {
  display: flex;
  justify-content: center;
}

.title-class h1 {
  font-family: 'Rajdhani', sans-serif;
}

.spec-class {
  display: flex;
  justify-content: space-around;
}

.spec-class p {
  margin: 0 !important;
}

.spec-class p span {
  color: rgba(0, 0, 0, 0.6);
}


// OBSERVATION

.observation {
  background: #276462;
}

.title-observation h2 {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  font-size: 35px;
}

.content-observation {
  width: 70%;
}

.content-observation p {
  color: white;
  font-size: 18px;
}

// GOAL

.goal {
  background: #276462;
}

.title-goal h2 {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  font-size: 35px;
}

.content-goal {
  width: 70%;
}

.content-goal p {
  color: white;
  font-size: 18px;
}

// PROGRAM

.program {
  background: white;
}

.title-program h2 {
  font-family: 'Rajdhani', sans-serif;
  color: $grey;
  font-size: 35px;
}

.content-program {
  width: 70%;
}

.content-program a {
  text-decoration: none;
}

.content-program h4 {
  color: $grey;
}

.content-program p {
  color: $grey;
  font-size: 18px;
}

.content-program ul {
  margin-bottom: 0px;
}

.content-program li {
  color: $grey;
  font-size: 18px;
  list-style: none;
}

// TEACHER

.teacher {
  display: flex;
  justify-content: space-between;
}

.title-teacher h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 35px;
  color: #484848;
}

.content-teacher {
  width: 70%;
}

.content-teacher p {
  font-size: 18px;
  color: #484848;
}

.content-teacher h3 {
  color: #484848;
}

.content-teacher .avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

// PLACE

.place {
  // background: #553A84;
}

.title-place h2 {
  font-family: 'Rajdhani', sans-serif;
  // color: white;
  color: #484848;
  font-size: 35px;
}

.content-place {
  width: 70%;
}

.content-place p {
  font-size: 18px;
  color: white;
  color: $grey;
}

// CONTACT

.contact {
  display: flex;
  justify-content: space-between;
}

.title-contact h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: 35px;
  color: #484848;
}

.content-contact {
  width: 70%;
}

.content-contact p {
  font-size: 18px;
  color: #484848;
}

.content-contact i span {
  font-size: 18px;
  color: #484848;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}
