<div class="navbar-expand-sm navbar-portfolio">
  <div class="mr-2">
    <%= image_tag "taj-mahal.svg", height: 50, width: 50, alt: "taj-mahal" %>
  </div>
  <div>
    <h1> <span>CHANDA</span> PAPA</h1>
  </div>
</div>
