<div class="navbar-expand-sm navbar-portfolio">
  <%= link_to root_path do %>
    <div class="mr-2">
      <%= image_tag "taj-mahal.svg", height: 50, width: 50, alt: "taj-mahal" %>
    </div>
  <% end %>

  <%= link_to root_path do %>
    <div>
      <h1> <span>CHANDA</span> PAPA</h1>
    </div>
  <% end %>
</div>
