<div class="pictures container my-5">
  <div class="pic1"></div>
  <div class="pic2"></div>
  <div class="double-pics">
    <div class="pic3"></div>
    <div class="pic4"></div>
  </div>
  <div class="pic5"></div>
</div>

<div class="pictures-content container mb-5">
  <div class="title-class">
    <h1>Cours de cuisine indienne</h1>
  </div>
  <div class="spec-class">
    <div class="time">
      <i class="fas fa-clock mb-2"></i>
      <p><span>Durée:</span></p>
      <p>3 heures</p>
    </div>
    <div class="size">
      <i class="fas fa-user-friends mb-2"></i>
      <p><span>Taille du groupe:</span></p>
      <p>de 1 à 10 personnes</p>
    </div>
    <div class="price">
      <i class="fas fa-euro-sign mb-2"></i>
      <p><span>Tarifs:</span></p>
      <p>entre 20 et 60€ par personne</p>
    </div>
    <div class="language mb-2">
      <i class="fas fa-comments"></i>
      <p><span>Langues:</span></p>
      <p>Français, Anglais, Hindi</p>
    </div>
  </div>
</div>

<div class="program py-5">
  <div class="container d-flex justify-content-between">
    <div class="title-program">
      <h2>Au programme</h2>
    </div>
    <div class="content-program">
      <h4>Formule complète</h4>
      <p>Composées en 4 sessions, cette méthode a pour but de vous faire maitrîser:</p>
      <ul>
          <li>- Les épices et les produits bruts (mix d'épices, transformation du lait en paneer (fromage) et en ghee (beurre))</li>
          <li>- Les curry et «paste»</li>
          <li>- Les pains et galettes​</li>
          <li>- Les chaats (et autres plats necessitant de la friture) et chutneys​</li>
          <li>- Quelques sucreries</li>
      </ul>
      <br>
      <br>
      <h4>Formule initiation</h4>
      <p>En apprenant ces essentiels de la cuisine indienne, nous serons amenés à préparer ensemble une quinzaine de spécialités au cours des 4 rencontres que nous aurons. La quatrième sera  d'ailleurs l'occasion pour vous de faire un choix entre les modules suivants :​</p>
        <ul>
          <li>- Street food</li>
          <li>- Mughlai ou tradition indo-musulmane (non- végétarienne)</li>
          <li>- Inde du Sud ( avec ou sans poisson)</li>
        </ul>
    </div>
  </div>
</div>

<div class="teacher container pt-5">
  <div class="title-teacher">
    <h2>Votre professeur</h2>
  </div>
  <div class="content-teacher">
    <%= image_tag "https://media-exp1.licdn.com/dms/image/C5103AQGh8sVOqfLxJg/profile-displayphoto-shrink_200_200/0?e=1590019200&v=beta&t=OJrXP0Z_b-LQioRFmeAuZIpEy5Olz5MbRLLoehwB5vA", alt: "photo JB", class: "avatar" %>
    <h3 class="mt-4">Jean-Baptiste dit Gibus</h3>
    <p>Je m'appelle Jean Baptiste, j'ai vécu 3 ans en Inde et je suis tombé amoureux du pays.</p>
    <p>La cuisine est une autre des mes passions, on mélange les deux, et me voilà à donner des cours de cuisine indienne !</p>
    <p>C'est trop cool non ?</p>
    <div class="mt-5">
      <%= image_tag "pattern.svg", alt: "pattern", height: 60, with: 60%>
    </div>
  </div>
</div>

<div class="place pt-5">
  <div class="container d-flex justify-content-between">
    <div class="title-place">
      <h2>Le lieu</h2>
    </div>
    <div class="content-place">
      <p>Les cours ont lieu dans mon mignon appartement.</p>
      <p>Je peux aussi me déplacer chez vous ou au sein de votre entreprise.</p>
      <div class="mt-5">
        <%= image_tag "oil-lamp.svg", alt: "oil-lamp", height: 60, with: 60%>
      </div>
    </div>
  </div>
</div>

<div class="contact container py-5">
  <div class="title-contact">
    <h2>Contact</h2>
  </div>
  <div class="content-contact">
    <i class="fas fa-at"><span> chandapapa@gmail.com</span></i>
    <br>
    <br>
    <i class="fas fa-mobile-alt"><span> 06.99.52.90.18</span></i>
    <div class="mt-5">
      <%= image_tag "ganesha.svg", alt: "ganesha", height: 60, with: 60%>
    </div>
  </div>
</div>
