<div class="pictures container my-5">
  <div class="pic1"></div>
  <div class="pic2"></div>
  <div class="double-pics">
    <div class="pic3"></div>
    <div class="pic4"></div>
  </div>
  <div class="pic5"></div>
</div>

<div class="pictures-content container mb-5">
  <div class="title-class">
    <h1>Cours de cuisine indienne</h1>
  </div>
  <div class="spec-class">
    <div class="time">
      <i class="fas fa-clock mb-2"></i>
      <p><span>Durée:</span></p>
      <p>3 heures</p>
    </div>
    <div class="size">
      <i class="fas fa-user-friends mb-2"></i>
      <p><span>Taille du groupe:</span></p>
      <p>de 1 à 10 personnes</p>
    </div>
    <div class="price">
      <i class="fas fa-euro-sign mb-2"></i>
      <p><span>Tarifs:</span></p>
      <p>entre 20 et 60€ par personne</p>
    </div>
    <div class="language mb-2">
      <i class="fas fa-comments"></i>
      <p><span>Langues:</span></p>
      <p>Français, Anglais, Hindi</p>
    </div>
  </div>
</div>

<div class="program py-5">
  <div class="container d-flex justify-content-between">
    <div class="title-program">
      <h2>Au programme</h2>
    </div>
    <div class="content-program">
      <p>Vous allez avoir un cours intensif sur toutes les épices et condiments que nous utiliserons tout au long de la préparation avec leurs bienfaits sur la santé (ayurvedic).</p>
      <p>Voici quelques une des mes spécialités:</p>
      <ul>
        <li>Végétatiens / Vegan recettes:</li>
        <ul>
          <li>- Biryani végétarien - flavoured rice with veggies of your choice (my favourite)</li>
          <li>- Channa Masala - chickpeas spiced yummy gravy</li>
          <li>- Légumes pulav avec raitha - mildly spiced rice loaded with veggies</li>
        </ul>
        <li>Recettes non végétariennes:</li>
          <ul>
            <li>- Spicy chicken fry with coconut milk rice</li>
            <li>- Chicken/lamb biryani - flavoured rice with meat</li>
            <li>- Butter chicken gravy</li>
            <li>- Prawn masala - spiced prawns in onion tomato based sauce</li>
          </ul>
        </ul>
        <p>En plus de ces recettes, vous pouvez me demander pour d'autres plats indiens et me demander si c'est réalisable avant de réserver le cours :).</p>
    </div>
  </div>
</div>

