<div class="pictures container mb-3">
  <div class="pic1"></div>
  <div class="pic2"></div>
  <div class="double-pics">
    <div class="pic3"></div>
    <div class="pic4"></div>
  </div>
  <div class="pic5"></div>
</div>

<div class="pictures-content container">
  <div class="title-class">
    <h2>Cours de cuisine indienne</h2>
  </div>
  <div class="spec-class">
    <div class="time">
      <i class="fas fa-clock mb-2"></i>
      <p>Durée:</p>
      <p>3 heures</p>
    </div>
    <div class="size">
      <i class="fas fa-user-friends mb-2"></i>
      <p>Taille du groupe:</p>
      <p>de 1 à 10 personnes</p>
    </div>
    <div class="price">
      <i class="fas fa-euro-sign mb-2"></i>
      <p>Tarifs:</p>
      <p>entre 20 et 60€ par personne</p>
    </div>
    <div class="language mb-2">
      <i class="fas fa-comments"></i>
      <p>Langues:</p>
      <p>Français, Anglais, Hindi</p>
    </div>
  </div>
</div>
