<div class="pictures container my-5">
  <div class="pic1"></div>
  <div class="pic2"></div>
  <div class="double-pics">
    <div class="pic3"></div>
    <div class="pic4"></div>
  </div>
  <div class="pic5"></div>
</div>

<div class="pictures-content container mb-5">
  <div class="title-class">
    <h1>Cours de cuisine indienne</h1>
  </div>
  <div class="spec-class">
    <div class="time">
      <i class="fas fa-clock mb-2"></i>
      <p><span>Durée:</span></p>
      <p>4 heures</p>
    </div>
    <div class="size">
      <i class="fas fa-user-friends mb-2"></i>
      <p><span>Taille du groupe:</span></p>
      <p>de 1 à 10 personnes</p>
    </div>
    <div class="price">
      <i class="fas fa-euro-sign mb-2"></i>
      <p><span>Tarifs:</span></p>
      <p>entre 47 et 80€ par personne</p>
    </div>
    <div class="language mb-2">
      <i class="fas fa-comments"></i>
      <p><span>Langues:</span></p>
      <p>Français, Anglais, Hindi</p>
    </div>
  </div>
</div>

<div class="observation py-5">
  <div class="container d-flex justify-content-between">
    <div class="title-observation">
      <h2>Notre constat</h2>
    </div>
    <div class="content-observation">
      <p>Trop souvent déçu par les restaurants indiens qui ne cuisinent pas de façon authentique ( trop de sucre, trop de crème, lait de coco, cuisine trop arrangée), je propose un cours complet de cuisine indienne qui permet aux gourmets, aux gourmands, aux végétariens et aux végans de maîtriser cette tradition culinaire.​</p>
      <p>La gastronomie indienne, pluri-millénaire et pluri- ethnique offre en effet de belles perspectives pour quiconque souhaite diminuer sa consommation de viande: sans sacrifier son plaisir ou sa santé. La cuisine indienne n'utilise pas ou peu de produits transformés, et valorise le repas cusiné maison, frais, et mijoté.​</p>
    </div>
  </div>
</div>

<div class="goal py-5">
  <div class="container d-flex justify-content-between">
    <div class="title-goal">
      <h2>Objectif</h2>
    </div>
    <div class="content-goal">
      <p>Cette méthode est concue pour qu'un/une débutant total(e) puisse comprendre et maîtriser les principes et techniques de la cuisine indienne et qu'il ou elle devienne parfaitement autonome dans son exploration future des centaines de plats existants dans le Sous-Contient. A la fin de ce programme vous aurez acquis suffisament de vocabulaire, de connaissances et de savoir-faires pour vous lancer dans n'importe quelle recette disponible sur internet, dans des livres ou issues de quelques traditions familliales locales.​</p>
    </div>
  </div>
</div>

<div class="program py-5">
  <div class="container d-flex justify-content-between">
    <div class="title-program">
      <h2>Au programme</h2>
    </div>
    <div class="content-program">
      <a href="prices"><h4>Formule complète</h4></a>
      <p>Composées en 4 sessions, cette méthode a pour but de vous faire maitrîser:</p>
      <ul>
          <li>- Les épices et les produits bruts (mix d'épices, transformation du lait en paneer (fromage) et en ghee (beurre))</li>
          <li>- Les curry et «paste»</li>
          <li>- Les pains et galettes​</li>
          <li>- Les chaats (et autres plats necessitant de la friture) et chutneys​</li>
          <li>- Quelques sucreries</li>
      </ul>
      <br>
      <br>
      <a href="prices"><h4>Formule initiation</h4></a>
      <p>En apprenant ces essentiels de la cuisine indienne, nous serons amenés à préparer ensemble une quinzaine de spécialités au cours des 4 rencontres que nous aurons. La quatrième sera  d'ailleurs l'occasion pour vous de faire un choix entre les modules suivants :​</p>
        <ul>
          <li>- Street food</li>
          <li>- Mughlai ou tradition indo-musulmane (non- végétarienne)</li>
          <li>- Inde du Sud ( avec ou sans poisson)</li>
        </ul>
    </div>
  </div>
</div>

<div class="teacher container pt-5">
  <div class="title-teacher">
    <h2>Votre professeur</h2>
  </div>
  <div class="content-teacher">
    <%= image_tag "https://media-exp1.licdn.com/dms/image/C5103AQGh8sVOqfLxJg/profile-displayphoto-shrink_200_200/0?e=1590019200&v=beta&t=OJrXP0Z_b-LQioRFmeAuZIpEy5Olz5MbRLLoehwB5vA", alt: "photo JB", class: "avatar" %>
    <h3 class="mt-4">Jean-Baptiste dit Gibus</h3>
    <p>Je m'appelle Jean Baptiste, j'ai vécu 3 ans en Inde et je suis tombé amoureux du pays.</p>
    <p>La cuisine est une autre des mes passions, on mélange les deux, et me voilà à donner des cours de cuisine indienne !</p>
    <p>C'est trop cool non ?</p>
    <div class="mt-5">
      <%= image_tag "pattern.svg", alt: "pattern", height: 60, with: 60%>
    </div>
  </div>
</div>

<div class="place pt-5">
  <div class="container d-flex justify-content-between">
    <div class="title-place">
      <h2>Le lieu</h2>
    </div>
    <div class="content-place">
      <p>Les cours ont lieu dans mon mignon appartement.</p>
      <p>Je peux aussi me déplacer chez vous ou au sein de votre entreprise.</p>
      <div class="mt-5">
        <%= image_tag "oil-lamp.svg", alt: "oil-lamp", height: 60, with: 60%>
      </div>
    </div>
  </div>
</div>

<div class="contact container py-5">
  <div class="title-contact">
    <h2>Contact</h2>
  </div>
  <div class="content-contact">
    <i class="fas fa-at"><span> chandapapa@gmail.com</span></i>
    <br>
    <br>
    <i class="fas fa-mobile-alt"><span> 06.99.52.90.18</span></i>
    <div class="mt-5">
      <%= image_tag "ganesha.svg", alt: "ganesha", height: 60, with: 60%>
    </div>
  </div>
</div>
