
<!-- FORMULE INITIATION -->

<div class="container my-5">
  <div class="pictures-content container mb-5">
    <div class="title-class-if">
      <h2>Formule initation:</h2>
    </div>
    <div class="picture-if">
      <div class="pic-if"></div>
    </div>
    <div class="spec-class">
      <div class="time">
        <i class="fas fa-clock mb-2"></i>
        <p><span>Durée:</span></p>
        <p>4 heures</p>
      </div>
      <div class="size">
        <i class="fas fa-user-friends mb-2"></i>
        <p><span>Taille du groupe:</span></p>
        <p>de 1 à autant de place dans la cuisine ;)</p>
      </div>
      <div class="price">
        <i class="fas fa-euro-sign mb-2"></i>
        <p><span>Tarifs:</span></p>
        <p>100€/personne</p>
      </div>
      <div class="language mb-2">
        <i class="fas fa-comments"></i>
        <p><span>Langues:</span></p>
        <p>Français, Anglais, Hindi</p>
      </div>
    </div>
  </div>
</div>

<div class="program pb-5">
  <div class="container d-flex justify-content-between">
    <div class="title-program">
      <h2>Au programme</h2>
    </div>
    <div class="content-program">
      <p>Une demi-journée (4h) pour préparé un menu indien avec: </p>
        <ul>
          <li>- Daal</li>
          <li>- Butter chicken ou paneer</li>
          <li>- Un pain et un mix veg</li>
          <li>- Une sucrerie ou une boisson (chai, lassi...)</li>
        </ul>
    </div>
  </div>
</div>

<!-- FORMULE COMPLETE -->

<div class="complete-formula">
  <div class="pictures-content-cf container py-5">
    <div class="title-class-cf">
      <h2>Formule complète:</h2>
    </div>
    <div class="picture-cf">
      <div class="pic-cf"></div>
    </div>
    <div class="spec-class-cf">
      <div class="time">
        <i class="fas fa-clock mb-2"></i>
        <p><span>Durée:</span></p>
        <p>4 X 4 heures</p>
      </div>
      <div class="size-cf">
        <i class="fas fa-user-friends mb-2"></i>
        <p><span>Taille du groupe:</span></p>
        <p>session de 2 personnes max</p>
      </div>
      <div class="price-cf">
        <i class="fas fa-euro-sign mb-2"></i>
        <p><span>Tarifs:</span></p>
        <p>320€ pour une personne/375€ pour deux personnes</p>
      </div>
      <div class="language-cf mb-2">
        <i class="fas fa-comments"></i>
        <p><span>Langues:</span></p>
        <p>Français, Anglais, Hindi</p>
      </div>
    </div>
  </div>

  <div class="program-cf pb-5">
    <div class="container d-flex justify-content-between">
      <div class="title-program-cf">
        <h2>Au programme</h2>
      </div>
      <div class="content-program-cf">
        <p>Composées en 4 sessions, cette méthode a pour but de vous faire maitrîser:</p>
        <ul>
            <li>- Les épices et les produits bruts (mix d'épices, transformation du lait en paneer (fromage) et en ghee (beurre))</li>
            <li>- Les curry et «paste»</li>
            <li>- Les pains et galettes​</li>
            <li>- Les chaats (et autres plats necessitant de la friture) et chutneys​</li>
            <li>- Quelques sucreries</li>
        </ul>
      </div>
    </div>
  </div>
</div>
