.navbar-portfolio {
  display: flex;
  justify-content: right;
  // align-items: center;
  background: #f16c43;
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 2%;
}

.navbar-portfolio h1 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 3em;
  color: #231f20;
  margin: 0px;
}

// .navbar-portfolio h1 span {
//   color: #a0a0a0;
// }
