.navbar-chanda {
  justify-content: space-between;
  background: transparent;
}

.navbar-chanda span a {
  text-decoration: none;
  font-family: 'Kalam', cursive;
  color: white;
  font-size: 40px;
}

.navbar-chanda .navbar-collapse {
  flex-grow: 0;
}


